/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App {
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-width: 100vh;
}

.App form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}

.Cards {
  display: flex;
  gap: 0.5rem;
}

.Card {
  border: 0.3rem solid black;
  border-radius: 1000rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Games {
  text-align: center;
  border: 0.3rem solid black;
  border-radius: 1000rem;
}

.logo {
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
